body
{
	background-color: #000001;
	background-image: url(images/background.jpg);
	background-size: 250px;
	background-repeat: repeat;
	font-family: 'Ropa Sans', sans-serif;
}

#header
{
	height: 80px;
	color: #eef;
	margin: 0 0 0 20px;
}

#sun
{
	width: 25px;
	height: 200px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	background-image: url(images/sun.png);
	background-size: 25px;
	background-repeat: no-repeat;
	background-position: center;
}

#sun .label
{
	-webkit-transform: rotateZ(-80deg) translateX(30px) translateY(-12px);
	-moz-transform: rotateZ(-80deg) translateX(20px) translateY(-22px);
	-ms-transform: rotateZ(-80deg) translateX(20px) translateY(-22px);
	-o-transform: rotateZ(-80deg) translateX(20px) translateY(-22px);
	transform: rotateZ(-80deg) translateX(20px) translateY(-22px);
}

#space
{
	position: absolute;
	top: 0;
	left: 25px;
	right: 0;
	height: 60px;
	padding-top: 40px;
}

#space > div
{
	position: absolute;
}

.planet, .probe
{
	-webkit-transition: all ease-in-out 2s;
	-moz-transition: all ease-in-out 2s;
	-ms-transition: all ease-in-out 2s;
	-o-transition: all ease-in-out 2s;
	transition: all ease-in-out 2s;

	float: left;
}

.planet div.render, .probe div.render
{
	width: 5px;
	height: 5px;
	border-radius: 2px;
	float: left;
}

.label
{
	font-size: 11px;
	color: #fff;
	margin: 0;
	width: 50px;
	-webkit-transform: rotateZ(-80deg) translateX(16px) translateY(-22px) scale(0.8);
	-moz-transform: rotateZ(-80deg) translateX(16px) translateY(-22px) scale(0.8);
	-ms-transform: rotateZ(-80deg) translateX(16px) translateY(-22px) scale(0.8);
	-o-transform: rotateZ(-80deg) translateX(16px) translateY(-22px) scale(0.8);
	transform: rotateZ(-80deg) translateX(16px) translateY(-22px) scale(0.8);

	-webkit-transition: all ease-in-out 0.5s;
	-moz-transition: all ease-in-out 0.5s;
	-ms-transition: all ease-in-out 0.5s;
	-o-transition: all ease-in-out 0.5s;
	transition: all ease-in-out 0.5s;
}

.line
{
	float: left;

	width: 1px;
	height: 1px;

	position: relative;
	background-color: #fff;
}

#mercury .label
{
	-webkit-transform: translateX(-6px) translateY(-40px) scale(0.8);
	-moz-transform: translateX(-6px) translateY(-40px) scale(0.8);
	-ms-transform: translateX(-6px) translateY(-40px) scale(0.8);
	-o-transform: translateX(-6px) translateY(-40px) scale(0.8);
	transform: translateX(-6px) translateY(-40px) scale(0.8);
}

#mercury .line
{
	height: 36px;

	top: -28px;
	left: 2px;
}

#venus .label
{
	-webkit-transform: translateX(-6px) translateY(56px) scale(0.8);
	-moz-transform: translateX(-6px) translateY(56px) scale(0.8);
	-ms-transform: translateX(-6px) translateY(56px) scale(0.8);
	-o-transform: translateX(-6px) translateY(56px) scale(0.8);
	transform: translateX(-6px) translateY(56px) scale(0.8);
}

#venus .line
{
	height: 36px;

	top: 18px;
	left: 2px;
}

#earth .label
{
	-webkit-transform: translateX(-6px) translateY(-20px) scale(0.8);
	-moz-transform: translateX(-6px) translateY(-20px) scale(0.8);
	-ms-transform: translateX(-6px) translateY(-20px) scale(0.8);
	-o-transform: translateX(-6px) translateY(-20px) scale(0.8);
	transform: translateX(-6px) translateY(-20px) scale(0.8);
}

#earth .line
{
	height: 18px;

	top: -8px;
	left: 2px;
}

#mars .label
{
	-webkit-transform: translateX(-6px) translateY(36px) scale(0.8);
	-moz-transform: translateX(-6px) translateY(36px) scale(0.8);
	-ms-transform: translateX(-6px) translateY(36px) scale(0.8);
	-o-transform: translateX(-6px) translateY(36px) scale(0.8);
	transform: translateX(-6px) translateY(36px) scale(0.8);
}

#mars .line
{
	height: 18px;

	top: 18px;
	left: 2px;
}

#jupiter .label, #saturn .label, #uranus .label, #neptune .label
{
	-webkit-transform: translateX(-4px) translateY(-20px) scale(0.8);
	-moz-transform: translateX(-4px) translateY(-20px) scale(0.8);
	-ms-transform: translateX(-4px) translateY(-20px) scale(0.8);
	-o-transform: translateX(-4px) translateY(-20px) scale(0.8);
	transform: translateX(-4px) translateY(-20px) scale(0.8);
}

#jupiter .line, #saturn .line, #uranus .line, #neptune .line
{
	height: 18px;

	top: -8px;
	left: 3.25px;
}

#mercury div.render 	{background-color: #FFB380; width: 3px; height: 3px;}
#venus div.render 		{background-color: #2EFFCE; width: 3px; height: 3px;}
#earth div.render 		{background-color: #03C1E7; width: 3px; height: 3px;}
#mars div.render 		{background-color: #E44D08; width: 3px; height: 3px;}
#jupiter div.render 	{background-color: #FFCA42;}
#saturn div.render 		{background-color: #FFB442;}
#uranus div.render 		{background-color: #7EE5FF;}
#neptune div.render 	{background-color: #2797FF;}

#voyager1 .label, #voyager2 .label
{
	-webkit-transform: translateX(-6px) translateY(-20px) scale(0.8);
	-moz-transform: translateX(-6px) translateY(-20px) scale(0.8);
	-ms-transform: translateX(-6px) translateY(-20px) scale(0.8);
	-o-transform: translateX(-6px) translateY(-20px) scale(0.8);
	transform: translateX(-6px) translateY(-20px) scale(0.8);
}

#voyager1 .line, #voyager2 .line
{
	height: 18px;

	top: -8px;
	left: 1.5px;
}

#voyager1 div.render 	{background-color: #EEE; width: 2px; height: 2px;}
#voyager2 div.render 	{background-color: #EEE; width: 2px; height: 2px;}

#distances
{
	position: absolute;
	right: 10px;
	bottom: 14px;
	height: 60px;
	width: 100%;
	color: #ffe;
	text-align: right;
}

#distances > div
{
	display: inline-block;
	float: right;
	margin-left: 15px;
}

#distances p
{
	font-size: 14px;
	margin: 0 0 6px;
}

#distances p.probe-name
{
	font-size: 16px;
}

#footer
{
	position: absolute;
	left: 10px;
	bottom: 10px;
	font-size: 12px;
	color: #eee;
	text-align: left;
}

#footer p
{
	margin: 0 0 4px 0;
}

#footer a
{
	color: #fff;
}

@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	body
	{
		background-image: url(images/background@2x.jpg);
	}

	#sun
	{
		background-image: url(images/sun@2x.png);
	}
}